.footer{
    background-color: black;
    padding-bottom: 0;
    /* min-height: 50vb; */
}
.footer-heading{
    padding-top: 5%;
}
.footer-desc{
    padding-top: 3%;

}
.divider-top{
    padding-top: 5%;

}
.divider-bottom{
    padding-bottom: 5%;

}

.social a {
    width: 36px;
    height: 36px;
    display: inline-block;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    color: #fff;
    text-align: center;
  }

.social a:hover {
    background: grey;
    transform: scale(1.5);
  }
    

.social .list-inline {
    display: inline;
    padding-right: 1%;
  }
  
  .social .list-inline .fab,.social .list-inline .fas,
  .social .fab, .social .fas {
    font-size: 20px;
    margin-top: 8px;
  }